{% extends 'base.html' %}

{% block title %}Māori Dictionary | {{ cat_name }}{% endblock %}

{% block heading %}Māori - English Dictionary{% endblock %}

{% block main %}
    <h2>{{ cat_name }}</h2>
    {% if cat_id and session["user_type"] == 2 %}
        <a href="/add-word/{{ cat_id }}"><button class="add-button">Add a new word</button></a>
    {% elif session["user_type"] == 2 %}
        <p><i>Add a new word on the page for the category you would like to add it to.</i></p>
        <br>
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
        <br>
    {% endif %}
    <table>
        <tr>
            <th>Image</th>
            <th>Māori</th>
            <th>English</th>
            <th>Definition</th>
            <th>Level</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        {% for word in words %}
            <tr>
                <td><img src="/static/images/{{ word[6] or "noimage.jpg" }}" alt="{{ word[2] }}" width="100" height="100"></td>
                <td>{{ word[1] }}</td>
                <td>{{ word[2] }}</td>
                <td>{{ word[3] }}</td>
                <td>{{ word[4] }}</td>
                <td>{{ word[7] }}</td> <!-- We are subtracting one here because SQL IDs start at 1, but Python tuple positions start at 0  -->
                <td><a href="/word/{{ word[0] }}">View</a></td>
            </tr>
        {% endfor %}
        </tr>
    </table>
{% endblock %}
